 ../../.DS_Store
../../JavaScript/.DS_Store
../../JavaScript/app.js
../../JavaScript/index.js
../../JavaScript/node_modules/
../../React/node_modules/
# ../../JavaScript/package-lock.json
# ../../JavaScript/package.json
../../package-lock.json
../.DS_Store
../../TypeScript/.DS_Store
