/* Footer.css */

.footer {
  background-color: whitesmoke;
  color: #485785;
  font-family: Monospace;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
  
p{
  text-align: center;
  height: 25px;
}

