/* styles.css */
.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    display: block;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 12px;
    margin-top: 7px;
  }
  
  .card-image {
    border-radius: 5px;
    align-items: right;
  }
  
  .card-text {
    font-size: 16px;
    text-align: left;
   font-family: monospace;
   display: inline-block;
   margin-left: 10px;
  }
  .forma{
  background-color: white;
  border-radius: 20px;
  border-color: aquamarine;
  width: 35%;
  height: 58%;
  border: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
 }

  p{
font-family: monospace;
  }

 